<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <queries>
        <intent><action android:name="android.speech.RecognitionService" /></intent>
        <intent><action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" /></intent>
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent>
        <intent><action android:name="android.speech.action.RECOGNIZE_SPEECH" /></intent>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
        <intent><action android:name="android.media.action.IMAGE_CAPTURE" /></intent>
    </queries>
    <application
        android:name=".KoiwaiApplication"
        android:usesCleartextTraffic="${cleartextAllowed}"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/koi_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/koi_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assistente">
        <receiver android:name=".routine.TaskReminderActionReceiver" android:exported="false" />
        <service android:name=".tools.KoiScreenCaptureService" android:exported="false" android:foregroundServiceType="mediaProjection" />
        <activity android:name=".tools.KoiScreenCaptureActivity" android:exported="false" android:excludeFromRecents="true" android:theme="@style/Theme.KoiAssist" />
        <service android:name=".tools.KoiNotificationListener" android:exported="true"
            android:label="Mensagens com a Koi" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Assistente"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KoiAssistActivity" android:exported="true"
            android:theme="@style/Theme.KoiAssist" android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.ASSIST" /><category android:name="android.intent.category.DEFAULT" /></intent-filter>
        </activity>
    </application>

</manifest>
